IntegrationDays.SignalRDemo/Service References/LookupService/IntegrationDays_SignalRDemo_BT_ProcessInventoryRequest_ReceiveInventoryRequestPort.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://IntegrationDays.SignalRDemo.BT.InventoryLookupRequest_XML" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="http://IntegrationDays.SignalRDemo.BT.InventoryLookupRequest_XML" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InventoryLookupRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ClientId" type="xs:string" />
        <xs:element name="ItemId" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>